@page
@model Website.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/solid.js' crossorigin='anonymous'></script>
<script src="~/js/cartcount.js"></script>

<br />
<br />
<h1>About Flying Saucer</h1>

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
</div>
<br />

<p>
	Welcome to The Flying Saucer, where our Flyingsaucer Transaction Loader ensures your orders are lightning-fast, just like our FTL-inspired cuisine!
	<br /><br />
	Founded in 2023 by definitely human Earth students of the CIS 400 course,
	the Flying Saucer offers breakfast repasts at any hour of the day for your avid consuming.
	Beam down to any of our many Earth-based locations for a taste.
	<br /><br />
	Our meals are crafted with a mix of traditional and cutting-edge flavors that will transport your taste buds faster than the speed of light.
	Our Flyingsaucer Transaction Loader website's menu items are guaranteed to take your dining experience to new dimensions.
	Come aboard and explore the flavors of the universe at The Flying Saucer!
</p>